<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pitch App</title>
    {% block styles %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
</head>


<body class="body" style="background-image:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-background-teddy-0020.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a9d8da020e658e2e575315c6ee52de55')" >
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
        {% block content %}
        {% endblock %}


</body>
</html>